<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gulitshopping.shop">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/shoplogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/shoplogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.gulitshopping.shop.abut" />
        <activity android:name="com.gulitshopping.shop.Call" />
        <activity android:name="com.gulitshopping.shop.About" />
        <activity android:name="com.gulitshopping.shop.Home" />
        <activity android:name="com.gulitshopping.shop.Search" />
        <activity android:name="com.gulitshopping.shop.Display_Retrive"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.gulitshopping.shop.Retrive" />
        <activity android:name="com.gulitshopping.shop.DisplayCartRetrive"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.gulitshopping.shop.Catagories"
            android:parentActivityName="com.gulitshopping.shop.Where" />
        <activity
            android:name="com.gulitshopping.shop.Sell"
            android:parentActivityName="com.gulitshopping.shop.Catagories" />
        <activity android:name="com.gulitshopping.shop.MainActivity" />
        <activity
            android:name="com.gulitshopping.shop.Where"
            android:parentActivityName="com.gulitshopping.shop.MainActivity" />
        <activity android:name="com.gulitshopping.shop.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>